/***** MAIN *****/

html { box-sizing: border-box; font-size: 100%; }

*, *:before, *:after {box-sizing: inherit;}

body { 
	font-family: 'custom';
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100%;
}

/***** SCREENS > 1200 *****/



/***** SCREENS <= 1200 *****/

@media (max-width: 1200px) {
	
}

/***** SCREENS <= 992 *****/

@media (max-width: 992px) {
	
}

/***** SCREENS <= 768 *****/

@media (max-width: 768px) {
	
}